/* Coolors Exported Palette - coolors.co/48639c-4c4c9d-712f79-976391-f7996e */

/* Valex */
$color1-valex: hsla(221%, 37%, 45%, 1);
$color2-valex: hsla(240%, 35%, 46%, 1);
$color3-valex: hsla(294%, 44%, 33%, 1);
$color4-valex: hsla(307%, 21%, 49%, 1);
$color5-valex: hsla(19%, 90%, 70%, 1);

$color1-valex: rgba(72, 99, 156, 1);
$color2-valex: rgba(76, 76, 157, 1);
$color3-valex: rgba(113, 47, 121, 1);
$color4-valex: rgba(151, 99, 145, 1);
$color5-valex: rgba(247, 153, 110, 1);


/* Login */
$login-deep-blue: hsla(225%, 48%, 26%, 1);
$login-light-blue: hsla(191%, 64%, 35%, 1);
$login-teal: hsla(178%, 31%, 42%, 1);
$login-green: hsla(147%, 16%, 35%, 1);
$login-brown: hsla(48%, 23%, 25%, 1);

$login-deep-blue: rgba(35, 51, 99, 1);
$login-light-blue: rgba(32, 126, 147, 1);
$login-teal: rgba(73, 140, 138, 1);
$login-green: rgba(75, 104, 88, 1);
$login-brown: rgba(77, 71, 48, 1);

$color-white: #fff;
$color-white-1: #f8f8f8;
$color-white-2: #f0f0f0;
$color-white-3: #e8e8e8;

$color-very-light-gray: #e0e0e0;
$color-lighter-gray: #d0d0d0;
$color-light-gray: #cccccc;
$color-gray: #a0a0a0;
$color-dark-gray: #888;
$color-darker-gray: #5f5f5f;
$color-very-dark-gray: #444;

$color-black: #000;
$color-black-1: #080808;
$color-black-2: #181818;
$color-black-3: #282828;

