/* Coolors Exported Palette - coolors.co/48639c-4c4c9d-712f79-976391-f7996e */

/* HSL */
$color1-valex: hsla(221%, 37%, 45%, 1);
$color2-valex: hsla(240%, 35%, 46%, 1);
$color3-valex: hsla(294%, 44%, 33%, 1);
$color4-valex: hsla(307%, 21%, 49%, 1);
$color5-valex: hsla(19%, 90%, 70%, 1);

/* RGB */
$color1-valex: rgba(72, 99, 156, 1);
$color2-valex: rgba(76, 76, 157, 1);
$color3-valex: rgba(113, 47, 121, 1);
$color4-valex: rgba(151, 99, 145, 1);
$color5-valex: rgba(247, 153, 110, 1);
