@import 'variables';

.bg-valex-highlight-blue{
  background-color: lighten($color1-valex, 40%);
}
.bg-valex-lighter-blue{
  background-color: lighten($color1-valex, 20%);
}
.bg-valex-light-blue{
  background-color: $color1-valex;
}
.bg-valex-blue{
  background-color: $color2-valex;
}
.bg-valex-highlight-purple{
  background-color: lighten($color4-valex, 40%);
}
.bg-valex-lighter-purple{
  background-color: lighten($color4-valex, 20%);
}
.bg-valex-light-purple{
  background-color: $color4-valex;
}
.bg-valex-purple{
  background-color: $color3-valex;
}
.bg-valex-highlight-orange{
  background-color: lighten($color5-valex, 40%);
}
.bg-valex-light-orange{
  background-color: lighten($color5-valex, 20%);
}
.bg-valex-orange{
  background-color: $color5-valex;
}
.valex-highlight-blue{
  color: lighten($color1-valex, 40%);
}
.valex-lighter-blue{
  color: lighten($color1-valex, 20%);
}
.valex-light-blue{
  color: $color1-valex;
}
.valex-blue{
  color: $color2-valex;
}
.valex-highlight-purple{
  color: lighten($color4-valex, 40%);
}
.valex-lighter-purple{
  color: lighten($color4-valex, 20%);
}
.valex-light-purple{
  color: $color4-valex;
}
.valex-purple{
  color: $color3-valex;
}
.valex-highlight-orange{
  color: lighten($color5-valex, 40%);
}
.valex-lighter-orange{
  color: lighten($color5-valex, 20%);
}
.valex-orange{
  color: $color5-valex;
}

.white{
  color: white;
}

.bg-white{
  background-color: white;
}

.white{
  color: #fff;
}

.white-1{
  color: #f8f8f8;
}

.white-2{
  color: #f0f0f0;
}

.white-3{
  color: #e8e8e8;
}

.very-light-gray{
  color: #e0e0e0;
}

.lighter-gray{
  color: #d0d0d0;
}

.light-gray{
  color: #cccccc;
}

.gray{
  color: #a0a0a0;
}

.dark-gray{
  color: #888;
}

.darker-gray{
  color: #5f5f5f;
}

.very-dark-gray{
  color: #444;
}

.black{
  color: #000;
}

.black-1{
  color: #080808;
}

.black-2{
  color: #181818;
}

.black-3{
  color: #282828;
}

.bg-white{
  background-color: #fff;
}

.bg-white-1{
  background-color: #f8f8f8;
}

.bg-white-2{
  background-color: #f0f0f0;
}

.bg-white-3{
  background-color: #e8e8e8;
}

.bg-very-light-gray{
  background-color: #e0e0e0;
}

.bg-lighter-gray{
  background-color: #d0d0d0;
}

.bg-light-gray{
  background-color: #cccccc;
}

.bg-gray{
  background-color: #a0a0a0;
}

.bg-dark-gray{
  background-color: #888;
}

.bg-darker-gray{
  background-color: #5f5f5f;
}

.bg-very-dark-gray{
  background-color: #444;
}

.bg-black{
  background-color: #000;
}

.bg-black-1{
  background-color: #080808;
}

.bg-black-2{
  background-color: #181818;
}

.bg-black-3{
  background-color: #282828;
}