@import 'variables.scss';

.valex-form-control{

  & .form-group{
    position: relative;
    margin-bottom: 0.5em;
  }

  &.form-flex .form-group{
    display: flex;
  }

  & input{
    outline: none;
    border: 1px solid $color2-valex;
    padding: 0.5em 1em 0.5em 0.75em;
    border-radius: 4px;
    width: 250px;
    box-sizing: border-box;
  }

  & .form-icon + input{
    padding-left: 1.95em;
  }

  & label{
    display: block;
    wrap: wrap;
    color: $color1-valex;
  }

  & .form-icon {
    position: absolute;
    left: 0.4em;
    color: $color1-valex;
  }

  & .form-icon > * {
    position: absolute;
    top: 4px;
  }

  &.form-inline{
    vertical-align: top;
  }

  &.form-inline label,
  &.form-inline input{
    display: inline-block;
    vertical-align: top;
  }

  &.form-inline label{
    display: inline-block;
    width: 120px;
  }

  &.form-inline label + .form-icon{
    left: calc(120px + 0.7em);
  }


  & button{
    background-color: $color2-valex;
    display: inline-block;
    width: 250px;
    padding: 0.5em 1em;
    border-radius: 4px;
    border: none;
    color: lighten($color2-valex, 40%);
    box-sizing: border-box;
    cursor: pointer;
  }

  & button.block{
    width: 100%;
  }

  &.form-colors-inverse label{
    color: lighten($color1-valex, 20%);
  }

  &.form-colors-inverse button{
    background-color: lighten($color1-valex, 10%);
    color: lighten($color1-valex, 50%);
  }
}

// Login

.login-form-control{

  & .form-group{
    position: relative;
    margin-bottom: 0.5em;
  }

  &.form-flex .form-group{
    display: flex;
  }

  & input{
    outline: none;
    border: 1px solid $login-deep-blue;
    padding: 0.5em 1em 0.5em 0.75em;
    border-radius: 4px;
    width: 250px;
    box-sizing: border-box;
  }

  & .form-icon + input{
    padding-left: 1.95em;
  }

  & label{
    display: block;
    wrap: wrap;
    color: lighten($login-deep-blue, 20%);
  }

  & .form-icon {
    position: absolute;
    left: 0.4em;
    color: lighten($login-deep-blue, 20%);
  }

  & .form-icon > * {
    position: absolute;
    top: 4px;
  }

  &.form-inline{
    vertical-align: top;
  }

  &.form-inline label,
  &.form-inline input{
    display: inline-block;
    vertical-align: top;
  }

  &.form-inline label{
    display: inline-block;
    width: 120px;
  }

  &.form-inline label + .form-icon{
    left: calc(120px + 0.7em);
  }


  & button{
    background-color: $login-deep-blue;
    display: inline-block;
    width: 250px;
    padding: 0.5em 1em;
    border-radius: 4px;
    border: none;
    color: lighten($login-deep-blue, 40%);
    box-sizing: border-box;
    cursor: pointer;
  }

  & button.block{
    width: 100%;
  }

  &.form-colors-inverse label{
    color: lighten($login-deep-blue, 30%);
  }

  &.form-colors-inverse button{
    background-color: lighten($login-deep-blue, 20%);
    color: lighten($login-deep-blue, 60%);
  }

// Brown login
&.form-brown input{
  border: 1px solid $login-brown;
}

&.form-brown label{
  color: lighten($login-brown, 20%);
}

&.form-brown .form-icon {
  color: lighten($login-brown, 20%);
}

&.form-brown button{
  background-color: $login-brown;
  color: lighten($login-brown, 40%);
}

&.form-brown.form-colors-inverse label{
  color: lighten($login-brown, 30%);
}

&.form-brown.form-colors-inverse button{
  background-color: lighten($login-brown, 20%);
  color: lighten($login-brown, 60%);
}

}